.container {
    max-width: 1200px;
    width: 90%;
    margin: auto;
}

.navbar input[type="checkbox"],
.navbar .hamburgerLines {
    display: none;
}

.navbar {
    top: 170px;
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 47px;
    width: 100%;
    background-color: #373867;
    color: #000;
    height: 50px;
}

.menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #373867;

}

.menu a span:first-child {
    display: inline-block;
    padding: 10px;
}

.menu a {
    display: block;
    position: relative;
    overflow: hidden;
}

.menu a span:last-child {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateY(-100%);
}

.menu a span {
    transition: transform 0.2s ease-out;
}

.menu a:hover span:first-child {
    transform: translateY(100%);
}

.menu a:hover span:last-child {
    transform: none;
}